---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import PaddedContentBox from "../components/PaddedContentBox.astro";
---

<Layout>
	<PaddedContentBox class="bg-white">
		<p>
			Lorem ipsum odor amet, consectetuer adipiscing elit. Pellentesque curae
			nisl eget euismod tempor sem parturient suscipit. Egestas rhoncus volutpat placerat
			ipsum, sollicitudin at. Dapibus aliquam semper habitant sem eleifend accumsan. Class
			mauris praesent semper commodo ullamcorper varius rutrum. At ultricies justo nisi
			tincidunt metus cursus volutpat porta. Ipsum habitasse ligula taciti montes sit
			sodales; gravida ligula.
		</p>

		<p>
			Placerat ultrices sed himenaeos rhoncus tempor dapibus magnis elementum laoreet.
			Velit ipsum ad nascetur sit mi maximus purus interdum. Fames enim consectetur
			habitant penatibus ipsum laoreet imperdiet eros. Iaculis eget taciti ultrices
			pretium in. Leo mauris praesent cubilia taciti porttitor odio. Metus orci
			suscipit non a luctus cubilia in.
		</p>

		<p>
			Curae fusce justo placerat integer faucibus eleifend magna. Faucibus suspendisse
			habitant orci pulvinar conubia pharetra accumsan eleifend. Suspendisse hendrerit
			dui, ornare massa viverra auctor netus lacinia. Fringilla ut mi rhoncus nulla
			tristique inceptos molestie. Lobortis felis cubilia nullam nec massa, curabitur
			ante. Dolor fermentum proin torquent libero integer amet donec maecenas. Egestas
			nullam inceptos mattis neque; suspendisse scelerisque amet rhoncus.
		</p>

		<p>
			Erat dapibus pharetra ut; luctus nibh justo pretium eros. Eget mattis sed facilisi
			tellus ac morbi nibh ridiculus. Tempus iaculis congue dolor nascetur mattis
			himenaeos turpis leo. Dapibus ligula mauris sit aliquet praesent himenaeos
			volutpat habitasse pulvinar. Habitant tempor lectus convallis fames nibh donec.
			Luctus bibendum odio ullamcorper cursus aliquam tellus iaculis id. Aliquam
			dictum per nam nostra molestie. Senectus non etiam aptent semper erat vestibulum.
		</p>

		<p>
			Maecenas dis primis suspendisse phasellus mollis consectetur sem. Primis lacus
			taciti curae congue diam mollis. Curabitur turpis dis velit vehicula dignissim
			ut. Hac condimentum senectus cras massa et vehicula egestas fames. Fermentum
			sodales rhoncus auctor massa orci tellus dignissim. Rutrum viverra dolor rhoncus
			potenti justo vestibulum ultrices. Sodales odio nullam facilisis mattis
			himenaeos congue.
		</p>
	</PaddedContentBox>
	<Welcome />
</Layout>
