---
import { Icon } from 'astro-icon/components'
const { name, href, icon = "simple-icons:amazonaws" } = Astro.props;
---

<li>
    <a href={href} class="flex flex-row gap-1 items-center">
        <Icon name={icon} class="fill-white" fill="white" />

        {name}
    </a>
</li>