---
import FooterSegment from "./FooterSegment.astro"
import FooterLink from "./FooterLink.astro"
import PaddedContentBox from "./PaddedContentBox.astro";
---

<PaddedContentBox is="footer" class="flex flex-col lg:flex-row justify-between gap-2 lg:gap-16">
    <div class="flex flex-row gap-8 min-w-fit">
        <nav>
            <FooterSegment title="Algemeen">
                <FooterLink name="Start" icon="material-symbols:home" href="/2425/lmfehres" />
                <FooterLink name="Sitemap" icon="material-symbols:map-search" href="/2425/lmfehres/sitemap" />
            </FooterSegment>
        </nav>

        <FooterSegment title="Extern">
            <FooterLink name="GitHub" icon="simple-icons:github" href="https://github.com/lucasf-nl/che-sem1-fdd" />
            <FooterLink name="LinkedIn" icon="simple-icons:linkedin" href="https://www.linkedin.com/in/lucas-fehres/" />
            <FooterLink name="CHE" icon="che" href="https://che.nl" />
            <FooterLink name="CHE FDD" icon="che" href="/" />
        </FooterSegment>
    </div>

    <div class="flex flex-col text-white lg:text-end">
        <!--TODO: Semantics-->
        <span class="text-2xl">Lucas F.</span>
        <span class="text-lg">2400481</span>
        <p>
            Een website geproduceerd bij het vak FDD (Frontend Design & Development)
            in semester 1 van de HBO-ICT opleiding op de CHE.
        </p>
    </div>
</PaddedContentBox>