---
import clsx from "clsx";

const { component = "div", small } = Astro.props;
const Component = component;
---

<!--Handles providing the background styling and vertical spacing-->
<div class={clsx(Astro.props.class, "w-full py-5")}>
    <Component class={clsx(Astro.props.class,
        "py-0 px-5 my-0 mx-auto box-border w-full max-w-5xl",
        {
            ["max-w-2xl"]: small !== undefined
        }
    )}>
        <slot />
    </Component>
</div>
