---
import TimelineBlock from "./TimelineBlock.astro";
---

<div class="flex flex-row gap-2 w-max min-h-8">
    <!-- Left container -->
    <div class="grow my-16"><TimelineBlock/><TimelineBlock/></div>
    <!-- Ruler -->
    <div class="w-2 flex flex-col gap-0">
        <!-- fade in -->
        <div class="bg-linear-to-b from-amber-500 to-amber-200 w-2 h-16"/>
        <div class="bg-amber-500 w-2 grow"/>
        <!-- fade out -->
        <div class="bg-amber-200 w-2 h-16"/>
    </div>
    <!-- Right container -->
    <div class="grow my-16"><TimelineBlock/><TimelineBlock/></div>
</div>