---
import TimelineBlock from "./TimelineBlock.astro";
import TimelineOffset from "./TimelineOffset.astro";
import TimelineFadeSpacer from "./TimelineFadeSpacer.astro";
---

<!-- CSS grid is so powerful if you can bully it into working -->
<div class="grid grid-cols-timeline grid-rows-5 h-fit gap-4">
    <TimelineFadeSpacer />
    <TimelineFadeSpacer />
    <div class="w-2 flex flex-col gap-0 row-span-full h-full" style={{ gridColumn: 2 }}>
        <!-- fade in -->
        <div class="bg-gradient-to-b from-transparent to-black rounded-t-full w-2 h-16"/>
        <div class="bg-black w-2 grow min-h-2"/>
        <!-- fade out -->
        <div class="bg-gradient-to-b from-black to-transparent rounded-b-full w-2 h-16"/>
    </div>
    <TimelineBlock />
    <TimelineOffset />
    <TimelineBlock position="right" />
    <TimelineBlock />
</div>