---
import Footer from "../components/Footer.astro"
import TitleBar from "../components/TitleBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/2425/lmfehres/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lucas F. FDD</title>
	</head>
	<body class="bg-zinc-700">
		<TitleBar />
		<slot />
		<Footer />
	</body>
</html>

<!--<style>-->
<!--	html,-->
<!--	body {-->
<!--		margin: 0;-->
<!--		width: 100%;-->
<!--	}-->
<!--</style>-->
